<html>
  <head>
    <title>Show me your Gossip!</title>
  </head>
  <body>
    <u><h1>La Page des Pot-pot-potins</h1></u>
    <p>Voici le potin numéro : <%=params['id']%><br>
    Voici son auteur : <b><%= gossips.author %></b><br/>
    Voici le potin : <b><%= gossips.content %></b><a href = "">
    </p>
    <a href="/">Retour à la case départ!</a>
    &nbsp;&nbsp;<a href="/gossips/<%=params['id']%>/edit">Change moi ça !!!</a>
  </body>
</html>